Messenger/.main.cpp.un~
Messenger/.qmake.stash
Messenger/Makefile
Messenger/Messenger.pro.user
Messenger/main.o
Messenger/mainwindow.o
Messenger/moc_mainwindow.cpp
Messenger/moc_mainwindow.o
Messenger/moc_predefs.h
Messenger/ui_mainwindow.h
Monitor.pro.user
